.main-content {
  margin-left: 260px;
  padding: 24px;
}

@media (max-width: 768px) {
  .main-content {
    margin-left: 80px;
  }
}

.product-outer{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}