<swiper-container pagination="true" navigation="true" loop="true">
  <swiper-slide>
    <div class="hero-slider-outer">
      <img src="assets/banner-1.webp" width="100%" />
      <div class="container">
        <h6>Hello</h6>
        <h1>Lorem, ipsum dolor</h1>
        <span>From 2,000</span>
        <button class="main-btn mt-3">Submit</button>
      </div>
    </div>
  </swiper-slide>

  <swiper-slide>
    <div class="hero-slider-outer">
      <img src="assets/banner-2.webp" width="100%" />
      <div class="container">
        <h6>Hello</h6>
        <h1>Lorem, ipsum dolor</h1>
        <span>From 2,000</span>
        <button class="main-btn mt-3">Submit</button>
      </div>
    </div>
  </swiper-slide>

  <swiper-slide>
    <div class="hero-slider-outer">
      <img src="assets/banner-3.webp" width="100%" />
      <div class="container">
        <h6>Hello</h6>
        <h1>Lorem, ipsum dolor</h1>
        <span>From 2,000</span>
        <button class="main-btn mt-3">Submit</button>
      </div>
    </div>
  </swiper-slide>
</swiper-container>
