@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

:root {
  --primary: rgb(42, 85, 229);
  --border-radius:5px
}
.container {
  margin-left: 5%;
  margin-right: 5%;
}

.bg-color-main {
  background-color: var(--primary);
  color: white;
}
p {
  padding: 0px 10px;
  margin: 0;
}

.main-btn,
.secondary-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 18px;
  height: 42px;
  border-radius: 2px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: #fff;
  background: var(--primary);
  font-size: 13px;
  font-weight: 500;
  font-family: 'DM Sans', sans-serif;
  cursor: pointer;
  transition: background 0.15s;
  margin-left: 4px;
  font-size: 16px;
}

.secondary-btn {
  background-color: black;
}

.main-btn:hover{
   background-color: black;
}

button {
  border: none;
}

.heading{
  font-weight: 700;
  margin-top: 25px;
}


.form-input{
  height: 50px;
  padding: 10px;
  width: 350px;
  outline: none;
  display: block;
  margin:20px 10px;
  border:1px solid rgb(192, 192, 192);
  border-radius: var(--border-radius);
}

.form-input:focus{
  border: 1px solid var(--primary);
}

.form-button{
  height: 45px;
  padding:10px 40px;
  background-color: var(--primary);
  color: white;
  border-radius: var(--border-radius);
  transition: .5s all ;
}

.form-button:hover{
  
  background-color: #111;
  color: white;
}